<header id="header">
  <div class="main-container flex">
    <%= link_to '#' do %>
      <svg width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2H18M2 12H23M2 22H28" stroke="#2F2F2F" stroke-width="4" stroke-linecap="round"/>
      </svg>
    <% end %>

    <%= link_to '#' do %>
      <i class="fas fa-cog"></i>
    <% end %>
  </div>
</header>
