<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6">
      <div class="countdown-timer">
        <div class="timer">
          <span class="minutes">25</span> :
          <span class="seconds">00</span>
        </div>
        <div class="controls">
          <div id="start">
            <i class="fas fa-play fa-2x"></i>
          </div>
          <div id="pause" class="hide-control">
            <i class="fas fa-pause fa-2x"></i>
          </div>
          <div id="stop" class="hide-control">
            <i class="fas fa-stop fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
