.button {
  background-color: black;
  color: white;
  padding: 16px 32px;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  display: block;
}
